﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <style>
        /*.navbar-toggle {
            @*changes size of collapsed navbar*@
            padding: 5px;
        }*/

        /*.navbar-nav > li > a {
            padding-top: 15px;
            height: 50px;
        }*/

        .navbar {
            /*min-height: 20px;*/
            background: rgba(0,0,0,0.75);
        }

        .nav navbar-nav .navbar-right > li > a {
            color: white;
        }

        a {
            text-align: center;
        }
    </style>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/ViewDashes" style="color: white;">View Dashes</a></li>
                    <li><a href="/Home/ViewConsoleOnlyDashesList" style="color: white;">View Console Only</a></li>
                    <li><a href="/Home/Search" style="color: white;">Search For Runner</a></li>
                    <li><a href="/Home/Versus" style="color: white;">Versus</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
