﻿
@{
    ViewBag.Title = "ConsoleOnlyDashesList";
}

<style>
    .element:before {
        content: "";
        position: fixed;
        top: -5%;
        left: -5%;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        background-image: url(/Content/Images/MirrorsEdgeCatalyst1.jpg);
        background-size: cover;
        width: 110%;
        height: 110%;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }

    #opacity {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
    }

    button.levelButtons {
        border: 2px solid white;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        border-radius: 15px 0px;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        width: 270px;
        height: 55px;
        background-color: transparent;
        display: block;
        margin: auto;
    }

    button:hover {
        transform: scale(1.1);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    h2 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        color: white;
    }
</style>

<div class="element"></div>

<div id="opacity">

    <h2>Console Only</h2>

    @{ int i = 0;}


    @foreach (var levelCode in ViewBag.Leaderboard)
    {
        <div class="column">
            <a href="/Home/ViewBirdman?dashID=@levelCode&consoleOnly=yes"><button class="levelButtons">@ViewBag.Name[i]</button></a><br />
        </div>

        { i++; }
    }

</div>