﻿@{
    ViewBag.Title = "Home Page";
}

@*<style>

        body{
            background-image: url(/Content/Images/MirrorsEdgeCatalyst1.jpg);
        }

    </style>*@

<style type="text/css">
    @@font-face {
        font-family: 'MirrorsEdge';
        src: url(/fonts/MirrorsEdge.ttf);
    }

    .text h1 {
        font-family: MirrorsEdge;
    }

    .text h2 {
        font-family: MirrorsEdge;
    }
</style>

<style>
    body {
        background: url(/Content/Images/MirrorsEdgeCatalyst1.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    .blur {
        background: url(/Content/Images/MirrorsEdgeCatalyst1.jpg) no-repeat center center fixed;
        background-size: cover;
        overflow: hidden;
        filter: blur(13px);
        position: absolute;
        height: 300px;
        top: -50px;
        left: -50px;
        right: -50px;
        bottom: -50px;
    }

    .widget {
        border-top: 2px solid rgba(255, 255, 255, .5);
        border-bottom: 2px solid rgba(255, 255, 255, .5);
        height: 200px;
        width: 100%;
        overflow: hidden;
    }

    .center {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /*  NOT REQUIRED  */

    .text {
        height: 200px;
        width: 1000px;
    }

        .text h1 {
            text-align: center;
            text-shadow: 1px 1px rgba(0, 0, 0, .1);
            color: #ffffff;
            margin-top: 50px;
            font-weight: 700;
            font-size: 35px;
        }

        .text h2 {
            text-align: center;
            text-shadow: 1px 1px rgba(0, 0, 0, .1);
            color: #ffffff;
            margin-top: 35px;
            font-weight: 700;
            font-size: 25px;
        }
</style>

<div class="widget center">

    <div class="blur"></div>

    <div class="text center">
        <h1 class="">Mirror's Edge Catalyst</h1>
        <h2 class="">All-Platform Dashes Leaderboard</h2>
    </div>

</div>