﻿
@{
    ViewBag.Title = "SearchResults";
}

<style type="text/css">
    @@font-face {
        font-family: 'MirrorsEdge';
        src: url(/fonts/MirrorsEdge.ttf);
    }
</style>

@*Background*@
<style>
    .element:before {
        content: "";
        position: fixed;
        top: -5%;
        left: -5%;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        background-image: url(/Content/Images/MirrorsEdgeCatalyst2.jpg);
        background-size: cover;
        width: 110%;
        height: 110%;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }

    #opacity {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        left: 0px;
        position: absolute;
        left: 0;
        right: 0;
    }
</style>

@*Top Info*@
<style>
    p {
        text-align: center;
        color: white;
    }

    a {
        text-align: center;
        color: white;
    }
</style>

@*Table Properties*@
<style>
    th {
        text-align: center;
    }

    table td {
        border-top: none !important;
    }

    tr {
        background: rgba(0,0,0,0.50);
        color: white;
        text-align: center;
    }

        tr:hover {
            background: rgba(0,0,0,0.10);
        }
</style>

<div class="element"></div>

<div id="opacity">

    <div>
        <p style="margin-top: 10px;">@ViewBag.APIName.ToUpper() @(" | ") @ViewBag.Platform.ToUpper()</p>
    </div>

    <table class="table">
        <tr>
            <th>Platform Rank</th>
            <th>Dash</th>
            <th>Time</th>
            <th>Date Obtained</th>
        </tr>

        @foreach (var z in ViewBag.AllResults)
        {
            <tr>
                <td>@z.userRank.SelectToken("rank")</td>
                <td>
                    @z.id
                </td>
                <td>
                    @z.userRank.SelectToken("score")<br />
                </td>
                <td>@z.userStats.SelectToken("finishedAt")</td>
            </tr>
        }

        <tr>
            <td></td>
            <td></td>
            <th style="font-size: 20px;">@ViewBag.totalScore</th>
            <td></td>
        </tr>
    </table>

</div>
