﻿
@{
    ViewBag.Title = "Versus";
}

<style type="text/css">
    @@font-face {
        font-family: 'MirrorsEdge';
        src: url(/fonts/MirrorsEdge.ttf);
    }
</style>

<style>
    .element:before {
        content: "";
        position: fixed;
        top: -5%;
        left: -5%;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        background-image: url(/Content/Images/MirrorsEdgeCatalyst6.jpg);
        background-size: cover;
        width: 110%;
        height: 110%;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }

    #opacity {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
    }

    input[type=submit] {
        border: 2px solid white;
        color: white;
        text-decoration: none;
        text-align: center;
        border-radius: 15px 0px;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        width: 150px;
        height: 45px;
        background-color: transparent;
        display: block;
        margin: auto;
    }

    label {
        text-align: center;
        display: block;
        margin: auto;
        /*font-family: 'MirrorsEdge';*/
    }

    input[type=text] {
        text-align: center;
        display: block;
        margin: auto;
    }

        input[type=submit]:hover {
            transform: scale(1.05);
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
</style>

<div class="element"></div>

<div id="opacity">
        <form action="/Home/VersusBattle" method="post">
            <label style="font-size: 20px; color: white;">Head to Head</label><br>
            <label style="font-size: 15px; color: white;">PersonaID  1</label><br>
            <input type="text" name="PlayerID1" style="height: 40px; width: 200px;" /><br>
            <label style="font-size: 15px; color: white;">PersonaID  2</label><br>
            <input type="text" name="PlayerID2" style="height: 40px; width: 200px;" /><br>
            <input type="submit" value=" Go" />
        </form>
</div>