﻿
@{
    ViewBag.Title = "VersusBattle";
}

<style>
    .element:before {
        content: "";
        position: fixed;
        top: -5%;
        left: -5%;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        background-image: url(/Content/Images/MirrorsEdgeCatalyst2.jpg);
        background-size: cover;
        width: 110%;
        height: 110%;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }

    #opacity {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        left: 0px;
        position: absolute;
        left: 0;
        right: 0;
    }
</style>

<style>
    #levelname {
        color: white;
        float: none;
        padding-left: 20px;
        font-size: 25px;
    }

    #win {
        color: Highlight;
        font-weight: bold;
    }

    p {
        display: inline;
    }

    table td {
        border-top: none !important;
    }

    tr {
        background: rgba(0,0,0,0.50);
        color: white;
    }

        tr:hover {
            background: rgba(0,0,0,0.10);
        }

    a {
        color: white;
    }

    table {
        table-layout: fixed;
    }

    th {
        text-align: center;
        vertical-align: middle;
    }

    td {
        width: 25%;
        text-align: center;
    }
</style>

<div class="element"></div>

<div id="opacity">

    @*<div class="row">
        <div class="column">
            <p id="levelname">@ViewBag.APIName1</p>
        </div>

        <div class="column"></div>

        <div class="column">
            <p id="levelname">@ViewBag.APIName2</p>
        </div>
    </div>*@

    <table class="table">
        <tr>
            <th>Dash</th>
            <th>@ViewBag.APIName1</th>
            <th>@ViewBag.APIName2</th>
            <th>Difference</th>
        </tr>
        @for (int i = 0; i < 22; i++)
        {
            <tr>

                <td style="font-weight: bold;">@ViewBag.LevelName[i]</td>

                @if (ViewBag.Player1ScoresInt[i] < ViewBag.Player2ScoresInt[i])
                {
                    <td id="win">@ViewBag.Player1Scores[i]</td>
                }
                else
                {
                    <td style="color: red">@ViewBag.Player1Scores[i]</td>
                }

                @if (ViewBag.Player1ScoresInt[i] > ViewBag.Player2ScoresInt[i])
                {
                    <td id="win">@ViewBag.Player2Scores[i]</td>
                }
                else
                {
                    <td style="color: red">@ViewBag.Player2Scores[i]</td>
                }

                <td style="font-weight: bold;">@ViewBag.ScoreDifference[i]</td>
            </tr>
        }
        <tr>
            <th></th>
            <th style="font-size: 16px">@ViewBag.Player1ScoresTotal</th>
            <th style="font-size: 16px">@ViewBag.Player2ScoresTotal</th>
            <th style="font-size: 16px">@ViewBag.Win</th>
        </tr>
    </table>
</div>