﻿@{
    ViewBag.Title = "ViewBirdman";
}

<style type="text/css">
    @@font-face {
        font-family: 'MirrorsEdge';
        src: url(/fonts/MirrorsEdge.ttf);
    }

    .text #levelname {
        font-family: MirrorsEdge;
    }
</style>

@*Background*@
<style>
    .element:before {
        content: "";
        position: fixed;
        top: -5%;
        left: -5%;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        background-image: url(/Content/Images/MirrorsEdgeCatalyst2.jpg);
        background-size: cover;
        width: 110%;
        height: 110%;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }

    #opacity {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        left: 0px;
        position: absolute;
        left: 0;
        right: 0;
    }
</style>

@*Top Info*@
<style>
    p {
        text-align: center;
        color: white;
    }

    a {
        text-align: center;
        color: white;
    }

    #compare {
        text-align: center;
    }

    select {
        text-align-last: center;
    }
</style>

@*Table Properties*@
<style>
    th {
        text-align: center;
    }

    table td {
        border-top: none !important;
    }

    tr {
        background: rgba(0,0,0,0.50);
        color: white;
        text-align: center;
    }

        tr:hover {
            background: rgba(0,0,0,0.10);
        }
</style>

@{ int i = 0; }

@{ int t = 0; }

@{ string[] platforms = new string[] { "PC", "PS4", "Xbox One" };}

<div class="element"></div>

<div id="opacity">

    <div id="topInfo" style="margin-bottom: 10px;">
        <p style="margin-top: 10px;">@ViewBag.Dash</p>

        <p>
            @foreach (var number in ViewBag.TotalCount)
            {
                if (t < 2)
                {
                    @platforms[t] @(": ") @number.totalCount.ToString("###,###,####") @(" | ")
                }
                else
                {
                    @platforms[t] @(": ") @number.totalCount.ToString("###,###,####")
                }

                t++;
            }
        </p>

        <p>
            @{ int total = 0;}

            @foreach (var run in ViewBag.TotalCount)
            {
                int platform = int.Parse((string)run.totalCount);
                total += platform;
            }

            Total Number of Runs: @total.ToString("###,###,####")
        </p>

        <p><a href="@ViewBag.Level.runs[0].run.videos.links[0].uri" style="color: white;">View Fastest Run</a></p>

        <div>
            <form action="/Home/VersusBattle" id="compare" method="post">
                <select name="PlayerID1">
                    <option value="null">Select a Player</option>
                    @foreach (var a in ViewBag.AlphabeticResults)
                    {
                        if (!ViewBag.BanList.Contains(a.personaId.ToString()))
                        {
                            <option value="@a.personaId">
                                @a.name
                            </option>
                        }
                    }
                </select>

                <input type="submit" value="IAN">

                <select name="PlayerID2">
                    <option value="null">Select a Player</option>
                    @foreach (var a in ViewBag.AlphabeticResults)
                    {
                        if (!ViewBag.BanList.Contains(a.personaId.ToString()))
                        {
                            <option value="@a.personaId">
                                @a.name
                            </option>
                        }
                    }
                </select>
            </form>           
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Rank</th>
            <th>Runner</th>
            <th>PersonaID</th>
            <th>Time</th>
            <th>Platform</th>
        </tr>
        @foreach (var z in ViewBag.Results)
        {
            if (i < 50)
            {
                <tr>
                    @if (!ViewBag.BanList.Contains(z.personaId.ToString()))
                    {
                        { i += 1; }
                        <td>
                            @i
                        </td>
                        <td>
                            <a href="/Home/SearchResults?playerID=@z.personaId&platform=@z.platform">@z.name</a>
                        </td>
                        <td>
                            @z.personaId
                        </td>
                        <td>
                            @z.properScore
                        </td>
                        <td>
                            @{string platform = z.platform;
                                string platformUp = platform.ToUpper();}
                            @platformUp
                        </td>
                    }
                </tr>
            }
        }
    </table>
</div>